.card__detail{
    border: 1px solid #bababa;
    border-radius: 0 0 10px 10px;
}
.card__detail {
    padding: 10px 0 0 10px;
}
.card__kegiatan img{
    border-radius: 10px 10px 0 0;
    height: 150px;
    width: 100%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Tombol loading */
#loadMore.loading:after {
    content: '';
    display: inline-block;
    border: 4px solid #ffffff;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-left: 10px;
}